$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$grey-200: hsl(0, 0%, 85%);

$padding: 15px;
$xs-padding: 48px;

$maxContentWidth: 1120px;

$h1Size: 46px;
$md-h1Size: 60px;

$h2Size: 30px;
$md-h2Size: 60px;

$fontSize: 17px;
$xs-fontSize: 23px;
$md-fontSize: 32px;

$paragraphLineHeight: 30px;
$xs-paragraphLineHeight: 40px;
$md-paragraphLineHeight: 50px;

@font-face {
  font-family: "Alata";
  src: url("../../fonts/Alata-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "JosefinSans";
  src: url("../../fonts/JosefinSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

.heading2 {
  font-family: "JosefinSans";
  font-weight: 300;
  text-transform: uppercase;
  font-size: $h2Size;
}
