.creations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: $sectionMarginTop;
  padding: 0 $padding;
}

.creations__heading {
  @extend .heading2;
  margin-top: 0;
}

.gallery {
  list-style: none;
  padding-left: 0;
  display: grid;
  gap: 17px;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}

.gallery__link {
  position: relative;
  display: block;
}

.gallery__picture {
  text-decoration: none;
  position: relative;
  display: block;
}

/* Overlay */
.gallery__picture::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.56),
    /* darker left */ rgba(0, 0, 0, 0.15) /* lighter right */
  );

  pointer-events: none;
}

.gallery__picture > img {
  width: 100%;
  display: block;
}

.gallery__picture::before {
  content: "";
  background: white;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
}

.gallery__link:hover {
  .gallery__picture::before {
    opacity: 0.7;
  }
  .gallery__name {
    color: $black;
  }
}

.gallery__name {
  position: absolute;
  color: $white;
  font-family: "JosefinSans";
  text-transform: uppercase;
  font-size: 25px;
  width: 140px;
  bottom: 30px;
  left: $padding;
}

.creations__see-all {
  background-color: white;
  font-family: "Alata";
  text-transform: uppercase;
  padding: 10px 40px;
  letter-spacing: 3px;
  border: 1px solid $black;
  color: $black;
  cursor: pointer;
  transition: background-color 0.25s ease;
  margin-top: 20px;
}

.creations__see-all:hover {
  color: $white;
  background-color: $black;
}

@media (min-width: 480px) {
  // xs

  .creations {
    padding-left: $xs-padding;
    padding-right: $xs-padding;
  }
}

@media (min-width: 640px) {
  // sm
}

@media (min-width: 768px) {
  // md

  .creations {
    display: grid;
    justify-content: unset;
    align-items: unset;
  }

  .creations__heading {
    font-size: $md-h1Size;
    text-align: center;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  }
}

@media (min-width: 1024px) {
  // lg

  .creations {
    max-width: $maxContentWidth;
    margin: $sectionMarginTop auto;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }

  .creations__container {
    margin-left: $xs-padding;
    margin-right: $xs-padding;
  }

  .creations__heading {
    font-size: $xl-h2Size;
    text-align: left;
  }

  .gallery {
    margin-top: 45px;
  }

  .creations__see-all {
    position: absolute;
    top: -4px;
    right: 0;
    margin-top: 0;
  }
}
