.interactive {
  max-width: 100%;
  box-sizing: border-box;
  padding: 0 $padding;
  margin-top: 100px;
}

.interactive__picture > img {
  width: 100%;
  box-sizing: border-box;
}

.interactive__details {
  color: $black;
  text-align: center;
}

.interactive__heading {
  @extend .heading2;
}

.interactive__paragraph {
  font-family: "Alata";
  font-weight: 400;
  padding-left: $padding;
  padding-right: $padding;
  font-size: $fontSize;
  line-height: $paragraphLineHeight;
  color: #7a7a7a;
}

@media (min-width: 480px) {
  // xs
  .interactive {
    margin-top: 150px;
    padding: 0 $xs-padding;
  }

  .interactive__paragraph {
    padding-left: $xs-padding;
    padding-right: $xs-padding;
    // font-size: $xs-fontSize;
    line-height: $xs-paragraphLineHeight;
  }
}

@media (min-width: 640px) {
  // xs
}

@media (min-width: 768px) {
  // md
  .interactive__heading {
    font-size: $md-h2Size;
  }
  .interactive__paragraph {
    margin-top: 0;
    font-size: $md-fontSize;
    line-height: $md-paragraphLineHeight;
  }
}

@media (min-width: 1024px) {
  // lg

  .interactive {
    padding: 0;
    padding: 0 $xs-padding;
    margin: 0 auto;
    margin-top: $sectionMarginTop;
    width: 100%;
    max-width: $maxContentWidth;
  }
}

@media (min-width: 1280px) {
  // xl

  .interactive {
    display: flex;
    padding: 0;
    position: relative;
  }

  .interactive__picture > img {
    width: 748px;
  }

  .interactive__details {
    width: 564px;
    padding-left: $xs-padding;
    padding-right: 0;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: white;
    text-align: left;
  }

  .interactive__heading {
    font-size: $xl-h2Size;
    padding-left: $xs-padding;
    padding-right: 0;
    padding-right: 0;
    margin-top: calc(2 * 48px);
  }

  .interactive__paragraph {
    padding-right: 0;
    font-size: $xl-fontSize;
    line-height: 28px;
  }
}
