@import "common";
@import "header";
@import "interactive";
@import "creations";

$bg-color: $white;

body {
  background-color: $bg-color;
  margin: 0;
  width: 100vw;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
