@font-face {
  font-family: "Alata";
  src: url("../../fonts/Alata-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "JosefinSans";
  src: url("../../fonts/JosefinSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* line 42, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_common.scss */
.heading2, .interactive__heading, .creations__heading {
  font-family: "JosefinSans";
  font-weight: 300;
  text-transform: uppercase;
  font-size: 30px;
}

/* line 1, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
.header {
  position: relative;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}

/* line 12, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
.header__hero > img {
  width: 100vw;
  height: auto;
  display: block;
}

/* line 18, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
.header__details-container {
  position: absolute;
  inset: 0;
}

/* line 23, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
.header__nav {
  padding: 15px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}

/* line 31, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
.header__home-link {
  display: inline-block;
}

/* line 35, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
.header__logo {
  width: 150px;
}

/* line 39, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
.header__menu-toggle {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* line 46, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
.header__menu-toggle.header--menu-open {
  display: none;
}

/* line 50, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
.header__hamburger {
  width: 45px;
  display: block;
}

/* line 55, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
.header__close {
  width: 45px;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}

/* line 63, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
.header__close div {
  width: 52px;
  height: 4px;
  background-color: black;
}

/* line 69, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
.header__close > div:first-child {
  transform: rotate(31deg);
  position: relative;
  top: 12px;
  left: -4px;
}

/* line 76, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
.header__close > div:last-child {
  transform: rotate(-31deg);
  position: relative;
  top: -13px;
  left: -4px;
}

/* line 83, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
.container-menu {
  display: none;
  grid-auto-flow: column;
  background-color: white;
  padding: 20px;
  position: relative;
  top: -20px;
  z-index: 10;
}

/* line 93, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
.header__menu-list {
  display: none;
  gap: 20px;
  list-style: none;
  margin-top: 40px;
  padding-left: 0;
}

/* line 102, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
.header__menu-item > a {
  text-decoration: none;
  color: black;
  display: inline-block;
  width: 60%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
  transition: border-color 0.25s ease;
}

/* line 114, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
.header__menu-item > a:hover {
  border-bottom-color: black;
}

/* line 118, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
.container-menu.header--menu-open {
  display: grid;
  left: 15px;
}

/* line 122, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
.container-menu.header--menu-open .header__menu-list {
  display: grid;
}

/* line 126, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
.container-menu.header--menu-open .header__close {
  display: flex;
}

/* line 131, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
.header__title {
  position: relative;
  top: 0;
  left: 0;
  margin: 15px;
  margin-top: 150px;
  padding: 15px;
  color: white;
  display: inline-block;
  font-family: "JosefinSans";
  font-weight: 300;
  font-size: 46px;
  border: 2px solid white;
  text-transform: uppercase;
  word-break: break-all;
}

@media (min-width: 360px) {
  /* line 149, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
  .header__title {
    word-break: normal;
  }
}

@media (min-width: 480px) {
  /* line 157, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
  .header__logo {
    width: 230px;
  }
  /* line 161, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
  .header__nav {
    padding: 48px;
  }
  /* line 165, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
  .header__title {
    margin: 48px;
    margin-top: 150px;
    padding: 48px;
  }
}

@media (min-width: 640px) {
  /* line 174, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
  .header__logo {
    width: 200px;
  }
}

@media (min-width: 768px) {
  /* line 181, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
  .header__title {
    font-size: 60px;
    margin: 48px;
    max-width: 475px;
  }
  /* line 187, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
  .header__hero > img {
    height: 550px;
    width: 100%;
    object-fit: cover;
  }
}

@media (min-width: 1024px) {
  /* line 197, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
  .header__details-container {
    margin: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* line 204, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
  .header__nav {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1112px;
    position: relative;
    top: -8px;
  }
  /* line 213, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
  .header__title-container {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
  }
  /* line 219, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
  .header__home-link {
    margin: auto 0;
  }
  /* line 222, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
  .header__hamburger {
    display: none;
  }
  /* line 226, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
  .container-menu {
    background-color: transparent;
    padding: 0;
    top: 0;
    display: grid;
  }
  /* line 233, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
  .header__menu-list {
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
    margin: auto 0;
  }
  /* line 240, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
  .header__menu-item > a {
    color: white;
  }
  /* line 244, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
  .header__menu-item > a:hover {
    border-bottom-color: white;
  }
  /* line 248, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
  .header__close {
    display: none;
  }
  /* line 252, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
  .header__title {
    margin-left: 0;
    margin-right: 0;
    position: relative;
    top: 20px;
  }
  /* line 260, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_header.scss */
  .container-menu.header--menu-open .header__close {
    display: none;
  }
}

/* line 1, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_interactive.scss */
.interactive {
  max-width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  margin-top: 100px;
}

/* line 8, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_interactive.scss */
.interactive__picture > img {
  width: 100%;
  box-sizing: border-box;
}

/* line 13, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_interactive.scss */
.interactive__details {
  color: black;
  text-align: center;
}

/* line 22, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_interactive.scss */
.interactive__paragraph {
  font-family: "Alata";
  font-weight: 400;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 17px;
  line-height: 30px;
  color: #7a7a7a;
}

@media (min-width: 480px) {
  /* line 34, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_interactive.scss */
  .interactive {
    margin-top: 150px;
    padding: 0 48px;
  }
  /* line 39, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_interactive.scss */
  .interactive__paragraph {
    padding-left: 48px;
    padding-right: 48px;
    line-height: 40px;
  }
}

@media (min-width: 768px) {
  /* line 53, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_interactive.scss */
  .interactive__heading {
    font-size: 60px;
  }
  /* line 56, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_interactive.scss */
  .interactive__paragraph {
    margin-top: 0;
    font-size: 32px;
    line-height: 50px;
  }
}

@media (min-width: 1024px) {
  /* line 66, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_interactive.scss */
  .interactive {
    padding: 0;
    padding: 0 48px;
    margin: 0 auto;
    margin-top: 180px;
    width: 100%;
    max-width: 1120px;
  }
}

@media (min-width: 1280px) {
  /* line 79, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_interactive.scss */
  .interactive {
    display: flex;
    padding: 0;
    position: relative;
  }
  /* line 85, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_interactive.scss */
  .interactive__picture > img {
    width: 748px;
  }
  /* line 89, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_interactive.scss */
  .interactive__details {
    width: 564px;
    padding-left: 48px;
    padding-right: 0;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: white;
    text-align: left;
  }
  /* line 101, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_interactive.scss */
  .interactive__heading {
    font-size: 43px;
    padding-left: 48px;
    padding-right: 0;
    padding-right: 0;
    margin-top: calc(2 * 48px);
  }
  /* line 109, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_interactive.scss */
  .interactive__paragraph {
    padding-right: 0;
    font-size: 16px;
    line-height: 28px;
  }
}

/* line 1, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_creations.scss */
.creations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  padding: 0 15px;
}

/* line 10, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_creations.scss */
.creations__heading {
  margin-top: 0;
}

/* line 15, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_creations.scss */
.gallery {
  list-style: none;
  padding-left: 0;
  display: grid;
  gap: 17px;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}

/* line 23, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_creations.scss */
.gallery__link {
  position: relative;
  display: block;
}

/* line 28, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_creations.scss */
.gallery__picture {
  text-decoration: none;
  position: relative;
  display: block;
}

/* Overlay */
/* line 35, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_creations.scss */
.gallery__picture::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.15));
  pointer-events: none;
}

/* line 49, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_creations.scss */
.gallery__picture > img {
  width: 100%;
  display: block;
}

/* line 54, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_creations.scss */
.gallery__name {
  position: absolute;
  color: white;
  font-family: "JosefinSans";
  text-transform: uppercase;
  font-size: 25px;
  width: 140px;
  bottom: 30px;
  left: 15px;
}

/* line 65, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_creations.scss */
.creations__see-all {
  background-color: white;
  font-family: "Alata";
  text-transform: uppercase;
  padding: 10px 40px;
  letter-spacing: 3px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  transition: background-color 0.25s ease;
  margin-top: 20px;
}

/* line 78, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_creations.scss */
.creations__see-all:hover {
  color: white;
  background-color: black;
}

@media (min-width: 768px) {
  /* line 94, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_creations.scss */
  .creations {
    display: grid;
    justify-content: unset;
    align-items: unset;
  }
  /* line 99, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_creations.scss */
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  }
}

@media (min-width: 1024px) {
  /* line 107, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_creations.scss */
  .creations {
    max-width: 1120px;
    margin: 180px auto;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }
  /* line 116, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_creations.scss */
  .creations__container {
    margin-left: 48px;
    margin-right: 48px;
  }
  /* line 121, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/_creations.scss */
  .creations__see-all {
    position: absolute;
    top: -4px;
    right: 0;
    margin-top: 0;
  }
}

/* line 8, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/styles.scss */
body {
  background-color: white;
  margin: 0;
  width: 100vw;
  box-sizing: border-box;
}

/* line 15, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/styles.scss */
.attribution {
  font-size: 11px;
  text-align: center;
}

/* line 19, ../Users/Norck/Documents/projects/loopstudios-landing-page-main/styles/scss/styles.scss */
.attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=styles.css.map */